order_mgmt_eapi/src/main/mule/order_mgmt_eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <http:listener-config name="order_mgmt_eapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="order_mgmt_eapi-config" api="order_mgmt_eapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="${API.ID}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="2a8e95b7-b815-4cc9-90c5-69620d0ecca2" flowRef="order_mgmt_eapi-main" />
	<configuration-properties doc:name="Configuration properties" doc:id="f8d26032-5b99-4272-ab5f-0457d9ad0633" file="application.properties" />
	<flow name="order_mgmt_eapi-main">
        <http:listener config-ref="order_mgmt_eapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="order_mgmt_eapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="order_mgmt_eapi-console">
        <http:listener config-ref="order_mgmt_eapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="order_mgmt_eapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customersTo:order_mgmt_eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="fcd828aa-7ff8-473e-9e50-8891c2316126" name="get_all_customers_for_a_city"/>
    </flow>
    <flow name="get:\heighestSaleProduct:order_mgmt_eapi-config">
       <flow-ref doc:name="Flow Reference" doc:id="5c2c1b5a-f104-4972-88f3-8df88beef7d6" name="heighest_salling_product"/>
    </flow>
    <flow name="get:\orderValueGreater:order_mgmt_eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="d9f545b9-84fc-456c-a9a4-4976ebe98103" name="get_all_order_where_order_value_is_greater_than_(x)_amount"/>
    </flow>
    <flow name="get:\ordersTo:order_mgmt_eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="0a5f9318-6e04-46ad-8ff0-3447a5bb9d55" name="get_all_orders_sortedBy_date_and_status_is_shipped"/>
    </flow>
    <flow name="get:\outstandingPayment:order_mgmt_eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="61c64aa0-e48b-4889-a0f4-17824ad207f8" name="outstanding_payment_per_customer"/>
    </flow>
    <flow name="get:\productByVendor:order_mgmt_eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="a38f4c32-4a1f-4e48-9d60-ecbb1b663eb3" name="get_all_products_sold_by_particular_vendor"/>
    </flow>
    <flow name="get:\ordersOpen\(customerID):order_mgmt_eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="150b5394-5e12-4da7-bf5e-81abb9224053" name="get_all_open_orders_for_customers"/>
    </flow>
    <flow name="get:\orderFor\(customerID):order_mgmt_eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="87cdc614-8238-4e7c-802c-4688c4fb878d" name="get_all_orders_for_an_customer"/>
    </flow>
    <flow name="get:\ordersFor\(orderID):order_mgmt_eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="e8bb7d39-84b0-4c4d-ab33-2791fe45ff84" name="get_all_products_for_particular_order"/>
    </flow>
    <flow name="get:\productFor\(orderID):order_mgmt_eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="87b198a2-9273-48f2-88d7-4284c7df5314" name="product_details_for_order"/>
    </flow>
</mule>
